header {
  height: 40px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 10px;
}
.logo img {
  width: 200px;
  filter: drop-shadow(225px 0 #fff);
  border-right: 10px solid transparent;
  position: relative;
  left: -225px;
}
nav {
  display: flex;
}
nav .nav-item {
  color: #fff;
  padding: 5px 10px;
}




